{% extends 'base.html' %}

{% block content %}
<h3>Edit item</h3>
<form method="post">
    电影名称： <input type="text" name="title" autocomplete="off" required value="{{ movie.title }}"><br>
    观看日期： <input type="text" name="year" autocomplete="off" required value="{{ movie.year }}"><br>
    电影院地址： <input type="text" name="cinema_address" autocomplete="off" required value="{{ movie.cinema_address }}"><br>
    电影院名称： <input type="text" name="cinema_name" autocomplete="off" required value="{{ movie.cinema_name }}"><br>
    <input class="btn" type="submit" name="submit" value="Update">
</form>
{% endblock %}